.git
.github
.env*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
*.egg
tests/
test_*.py
README.md
docker-compose.yml
Dockerfile
.gitignore