services:
  prime:
    build: 
      context: .
      dockerfile: Dockerfile
    image: ${IMAGE_NAME}:${DOCKER_TAG}
    container_name: ${CONTAINER_NAME}
    ports:
      - "8000:8000"  # Map container port 3000 to host port 3000
    env_file:
      - .env
    restart: always
